// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #eff4f4;
	font-family: 'Roboto', sans-serif;
}

// Global Variables
$accent: #eff4f4;
$black: #000;
$white: #fff;
$blue: #383f6c;