@import "../global";

footer {
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: $blue;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	.footer__description {
		font-size: 13px;
	}
}