@import "../global";

.header {
  display: flex;
  padding: 10px;
  background: linear-gradient(135deg, #393e6b 0%, #2fb5a9 100%);
  .logo {
    width: 135px;
    margin: 0 15px;
  }
  .auth-actions {
    position: absolute;
    top: 30px;
    right: 50px;
    &__link {
      padding: 15px 25px;
      border-radius: 50px;
      text-decoration: none;
      border: 3px solid $white;
      font-size: 14px;
      font-weight: 700;
      transition: background .3s ease;
      &__log-in {
        color: $white;
      }
      &__reg {
        background-color: $white;
        color: $blue;
      }
    }
  }
  .link {
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: $white;
  }
  .lang-switcher {
    position: absolute;
    right: 15px;
    margin-top: 7px;
  }
}