@import "../global";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $accent;
  &__reg-block {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 30px auto;
    border-radius: 3px;
    background-color: $white;
    .reg-panel {
      padding: 20px;
      border-radius: 3px;
      text-align: center;
      background: $blue;
      color: $white;
    }
    .reg-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      &__label {
        margin: 0 10px 0 0;
      }
      &__input {
        width: 235px;
        height: 48px;
        padding: 0 16px;
        border-radius: 0 4px 4px 0;
        border: 1px solid #39416de6;
        border-left: none;
        box-shadow: 0 0 1px 1px rgba(221, 221, 221, 0.27);
        font-size: 18px;
        background-color: $white;
        color: #a9a9a9;
      }
      &__button {
        padding: 18px 35px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        transition: background .3s ease;
        text-align: center;
        text-transform: uppercase;
        background-color: #39416d;
        color: #fff;
      }
      .cell {
        margin: 10px 0;
        &__icon-panel {
          background-color: #39416d;
          border-radius: 3px 0 0 3px;
          border-right: 3px solid #39416d;
          color: #ffffff;
          display: block;
          float: left;
          line-height: 50px;
          text-align: center;
          width: 50px;
          height: 50px;
        }
      }
      .cell-status,
      .cell-checkbox {
        width: 78%;
      }
      .cell-buttons {
        margin: 20px auto;
      }
      .select-status {
        border: 1px solid $blue;
        border-radius: 3px;
        background: #fff;
        padding: 5px;
      }
      .checkbox {
        width: 18px;
        height: 18px;
        color: $blue;
      }
    }
  }
}